@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;500;700;800;900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {

  font-family: "roboto", sans-serif;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-color: #bbf7d0;
}


.btn {
  margin: 22px;
  padding: 22px 74px;

  font-size: 24px;
  font-size: 22px;
  font-weight: 600;

  background-color: #fde047;

  border: 2px #000 solid;
  border-radius: 4px;
  color: #000;
}

.container {
  /* display: flex; */

  align-items: center;
  justify-content: space-around;
  width: 75%;

  padding: 12px;
  display: none;
}

.container div {
  text-align: center;
  width: 30%;
}

.container h3 {
  text-align: center;

  margin-bottom: 6px;
}

.container p {

  font-size: 22px;
  font-weight: 600;

  padding: 22px 74px;

  background-color: #fde047;

  border: 2px #000 solid;

  border-radius: 4px;

  color: #000;
}


@media(max-width:60em) {

  .container {
    flex-direction: column;
  }

  .container div {

    width: 70%;
    margin-bottom: 32px;
  }
}